<header>
  <div class="header-inner">
    <div class="om-symbol">ॐ</div>
    <div class="peetam-name-te">శ్రీ కృత్య ప్రత్యంగిర తాంత్రిక పీఠం</div>
    <div class="peetam-name-en">Shri Krutya Pratangira Tantrika Peetam</div>
    <div class="guru-name">
      <div class="te">గురువు: శ్రీ శ్రీ శ్రీ సదపూర్ణి కృత్య ఆనందం తంత్రి అయ్యర్</div>
      <div class="en">Guru: Sri Sri Sri Sadapurni Krutya Anandam Tantri Ayyar</div>
    </div>
    <div class="location-tag">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
      నాదర్గుల్, హైదరాబాద్ &nbsp;|&nbsp; Nadargul, Hyderabad
    </div>
  </div>
</header>
